<table class=" table table-responsive ">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Product Name</th>
      <th>Dealer </th>
      <th>Address</th>
      <th (click)="price()">Price
        <i class="fas fa-arrows-alt-v"></i>
      </th>
      <th (click)="quantity()">Quantity
        <i class="fas fa-arrows-alt-v"></i>
      </th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orders">
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Edit Order</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-addproduct [editMode]="true" [Singleorder]="o" (closeModal)="closeModal()"></app-addproduct>
        </div>
      </ng-template>

<ng-template #deleteTemp>
    
  <div class="modal-body">
   <h6>Are you Sure you want to delete this iteam</h6>
<div class="col-md-12">
    <div class="row mt-5 justify-content-center">
        <button (click)="deleteOk(o.$key)" class="btn-primary mr-3  col-md-3 btn btn-sm ">Ok</button>
        <button (click)="deleteNo()" class="btn-danger ml-5 col-md-3 btn btn-sm">Cancel</button>
    </div>
</div>
  </div>
</ng-template>
      
      <td>{{o.$key}}</td>
      <td class="pname"> {{o.product_name}}</td>
      <td>{{o.dealer_name}}</td>
      <td>{{o.address}}</td>
      <td>${{o.price}}</td>
      <td>{{o.quantity}}</td>
      <td>

        <span [class]="o.status">{{o.status}}</span>

      </td>
      <td (click)="openModal(template)">
        <i class="fas fa-pencil-alt"></i>
      </td>
      <td (click)="delete(deleteTemp)">
        <i class="far fa-trash-alt"></i>
      </td>
    </tr>




  </tbody>
</table>