<div class="container">

    <div class="row ">
      <div class="col-md-12">
        <div class="admin-bar ">
          <div class="row">
            <div class="col-md-9">
              <input class="form-control" type="text" placeholder="search" name="" id="">
            </div>
            <div class="col-md-2 ml-5 ">
              <div class="row">
                <div class="col-md-4">
                  <i class="fas fa-bell "></i>
                </div>
                <div class="col-md-4">
                  <i class="fas fa-envelope "></i>
                </div>
                <div class="col-md-4">
                  <i class="fas fa-sign-out-alt "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 promotion">
      <div class="col-md-3 ">
        <div class="promotion-box">
          <div class="row">
            <div class="col-md-4 ">
              <i class="fas fa-table"></i>
            </div>
            <div class="col-md-8">
              <p>Total User
                <br> 600</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="promotion-box">
          <div class="row">
            <div class="col-md-4 ">
              <i class="fas fa-table"></i>
            </div>
            <div class="col-md-8">
              <p>Total User
                <br> 600</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="promotion-box">
          <div class="row">
            <div class="col-md-4 ">
              <i class="fas fa-table"></i>
            </div>
            <div class="col-md-8">
              <p>Total User
                <br> 600</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="promotion-box">
          <div class="row">
            <div class="col-md-4 ">
              <i class="fas fa-table"></i>
            </div>
            <div class="col-md-8">
              <p>Total User
                <br> 600</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row map">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
        <div class="product-list">
          <h6>Top 5 Search Iteam</h6>
          <product-list></product-list>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="product-stat">

        </div>
      </div>
    </div>
  </div>